:root {
  --blue: #3490dc;
  --indigo: #6574cd;
  --purple: #9561e2;
  --pink: #f66d9b;
  --red: #e3342f;
  --orange: #f6993f;
  --yellow: #ffed4a;
  --green: #38c172;
  --teal: #4dc0b5;
  --cyan: #6cb2eb;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #3490dc;
  --secondary: #6c757d;
  --success: #38c172;
  --info: #6cb2eb;
  --warning: #ffed4a;
  --danger: #e3342f;
  --light: #f8f9fa;
  --dark: #343a40;
}

.sidebar .list-group-item{
	border: 0px;
	text-decoration: none;
	font-weight: bold;
	color: #333;
	border-radius: 30px !important;
	margin-bottom: 2px;
}

.sidebar .list-group-item:hover, .list-group-item.active{
	background: var(--indigo);
  color: white;
}

.sidebar .submenu .list-group-item:before{
	content: '+ '
}
.sidebar .submenu .list-group-item{
  border-left: 2px solid #eee;
  margin-left: 25px;
  border-radius: 0px !important;
  text-decoration: none;
  margin-bottom: 0px;
}
.sidebar .submenu .list-group-item:hover{
  background: #eee;
  color: black;
}

.sidebar .list-group-item:last-child{
	border-radius: 30px;
}

.sidebar{
	padding:10px;
}

.bg-indigo{
	background-color: var(--indigo);
}

table tr td, table tr th{
	vertical-align: middle !important;
}

.scroll-y{
  overflow-y: auto;
}

.table-detail{
  width: 100%;
  vertical-align: top !important;
  margin: 30px 0px;
}

.table-detail th{
  padding: 8px 15px;
}